extends layout

block content

  header
    h1 Welcome to Twitter Timeline Spotlight
    p Intelligently emphasize the tweets on your twitter timeline that matter most to you, based on your recent behavior.
    p 
      small Logged in as @
        = user.screenName

  section.page
    .stream.home-stream
      ol.stream-items
        each tweet in data
          include tweet
