extends layout

block content

  header
    h1.title(title="Twitter Timeline Spotlight intelligently emphasizes relevant tweets, based on your recent activity") Twitter Timeline Spotlight
      p.tagline See the tweets that matter most to you
    img.logo(src="/images/logo/drawable-mdpi/ic_launcher.png")
    .info-bar 
      .logged-in-user Logged in as 
        a(href="https://twitter.com/"+user.screenName)
          @
          = user.screenName
      .credits By 
        a(href="http://jeffschomay.com", target="_blank") Jeff Schomay
        | 
        a(href="https://github.com/jschomay/twitter-spotlight", target="_blank") View source

  section.page
    .stream.home-stream
      ol.stream-items
        each tweet in data
          include tweet
