doctype html5
html
  head
    title Twitter Timeline Spotlight
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    != LRScript
  body
    div.main 
      block content
