* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background: #142943;
  font-size: 12pt;
  line-height: 12pt;
}
header {
  color: #eee;
  width: 60%;
  margin: auto;
  position: relative;
  background: #4b83c9;
}
@media all and (max-width: 320px) {
  header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
  }
}
@media all and (max-width: 950px) {
  header {
    width: 80%;
  }
}
@media all and (max-width: 320px) {
  header {
    width: 100%;
  }
}
header .title {
  margin: 0%;
  margin-left: 60px;
  height: 64px;
  padding: 10px;
  font-size: 160%;
  font-weight: normal;
  line-height: 90%;
}
@media all and (max-width: 320px) {
  header .title {
    font-size: 120%;
    margin-left: 50px;
    height: 55px;
  }
}
header .title .tagline {
  margin: 0%;
  padding: 5px 0;
  font-size: 60%;
  line-height: 100%;
  font-weight: normal;
}
header .logo {
  position: absolute;
  margin-top: 8px;
  margin-left: 8px;
  top: 0%;
  left: 0%;
  border: 2px solid #3266a8;
  width: 48px;
}
@media all and (max-width: 320px) {
  header .logo {
    width: 44px;
    margin-top: 5px;
    margin-left: 5px;
  }
}
header .info-bar {
  padding: 1% 2%;
  font-size: 70%;
  background: #2e2e2e;
  position: relative;
  overflow: hidden;
}
header .info-bar.expanded {
  border-bottom: 2px solid #a2a2a2;
}
header .info-bar.expanded .show-options:after {
  content: " \25b2";
}
header .info-bar.expanded .options {
  max-height: 350px;
}
header .info-bar a {
  color: #a7a7a7;
}
header .info-bar a:hover {
  color: #bebebe;
}
header .info-bar div {
  display: inline-block;
}
header .info-bar .log-out {
  margin-right: 10px;
  float: right;
}
header .info-bar .show-options {
  float: right;
  cursor: pointer;
}
header .info-bar .show-options:after {
  content: " \25BC";
  font-size: 70%;
}
header .info-bar .options {
  display: block;
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
  font-size: 120%;
  transition: max-height 500ms;
  -webkit-transition: max-height 500ms;
  -moz-transition: max-height 500ms;
  -o-transition: max-height 500ms;
  max-height: 0;
  margin: 1% 0 -1%;
}
header .info-bar .options li {
  padding: 10px 0;
  width: 100%;
  border-top: 1px dotted #474747;
}
.page {
  width: 60%;
  margin: auto;
  padding: 0% 1%;
  background: #285286;
  position: absolute;
  left: 0;
  right: 0;
}
@media all and (max-width: 950px) {
  .page {
    width: 80%;
  }
}
@media all and (max-width: 320px) {
  .page {
    width: 100%;
    margin-top: 77px;
  }
}
.stream {
  background: #eee;
}
.stream ol.stream-items {
  margin: 0;
  margin-bottom: 1%;
  padding: 0;
  list-style-type: none;
}
.stream ol.stream-items .stream-item {
  background: #fff;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  position: relative;
}
.stream ol.stream-items .stream-item:hover {
  background: #f2f2f2;
}
.stream ol.stream-items .stream-item .tweet {
  padding: 2% 1.5% 5%;
  cursor: pointer;
  transition: all 100ms;
}
.stream ol.stream-items .stream-item .tweet .content {
  margin-left: 58px;
}
.stream ol.stream-items .stream-item .tweet .content .stream-item-header {
  padding-bottom: 1.5%;
}
.stream ol.stream-items .stream-item .tweet .content .stream-item-header .account-group {
  text-decoration: none;
  color: #333;
}
.stream ol.stream-items .stream-item .tweet .content .stream-item-header .account-group .avatar {
  float: left;
  margin-top: 0.5%;
  margin-left: -56px;
  width: 48px;
  border-radius: 10%;
}
.stream ol.stream-items .stream-item .tweet .content .stream-item-header .account-group .fullname {
  font-weight: bold;
}
.stream ol.stream-items .stream-item .tweet .content .stream-item-header .account-group .username {
  font-size: 90%;
  font-weight: normal;
  color: #707070;
}
.stream ol.stream-items .stream-item .tweet .content .stream-item-header .time {
  display: none;
}
.stream ol.stream-items .stream-item .tweet .tweet-text {
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 90%;
  line-height: 140%;
  text-decoration: none;
}
.stream ol.stream-items .stream-item .tweet .tweet-text a {
  color: #3266a8;
}
.stream ol.stream-items .spotlight-indicator {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  border: 1px solid #3266a8;
  cursor: pointer;
}
.stream ol.stream-items .reasons {
  padding: 0% 2%;
  background: #2e2e2e;
  margin: 0% 0 2% 0%;
  position: relative;
  color: #eee;
  font-size: 80%;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  max-height: 0;
  overflow: hidden;
}
.stream ol.stream-items .reasons.reveal {
  padding: 1% 2%;
  max-height: 200;
}
.stream ol.stream-items .reasons .reason {
  padding: 0.5%;
  list-style-type: none;
  padding-left: 2%;
}
.stream.spotlight ol.stream-items .tweet.minimized,
.stream.hide ol.stream-items .tweet.minimized {
  padding-bottom: 1%;
  line-height: 40%;
}
.stream.spotlight ol.stream-items .tweet.minimized .content,
.stream.hide ol.stream-items .tweet.minimized .content {
  margin-left: 30px;
}
.stream.spotlight ol.stream-items .tweet.minimized .content .stream-item-header,
.stream.hide ol.stream-items .tweet.minimized .content .stream-item-header {
  padding-bottom: 0;
}
.stream.spotlight ol.stream-items .tweet.minimized .content .stream-item-header .account-group .avatar,
.stream.hide ol.stream-items .tweet.minimized .content .stream-item-header .account-group .avatar {
  width: 23px;
  margin-top: 0%;
  margin-left: -30px;
  border-radius: 15%;
}
@media all and (max-width: 320px) {
  .stream.spotlight ol.stream-items .tweet.minimized .content .stream-item-header .account-group .avatar,
  .stream.hide ol.stream-items .tweet.minimized .content .stream-item-header .account-group .avatar {
    margin-top: -1%;
  }
}
.stream.spotlight ol.stream-items .tweet.minimized .content .stream-item-header .account-group .fullname,
.stream.hide ol.stream-items .tweet.minimized .content .stream-item-header .account-group .fullname {
  font-size: 70%;
}
.stream.spotlight ol.stream-items .tweet.minimized .content .stream-item-header .account-group .username,
.stream.hide ol.stream-items .tweet.minimized .content .stream-item-header .account-group .username {
  font-size: 60%;
}
.stream.spotlight ol.stream-items .tweet.minimized .content .tweet-text,
.stream.hide ol.stream-items .tweet.minimized .content .tweet-text {
  font-size: 75%;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stream.hide ol.stream-items .tweet.minimized {
  height: 5px;
  overflow: hidden;
  padding: 0;
  background: #eee;
}
.feedback-form textarea {
  width: 100%;
  margin: 5px 0;
}
