// colors
highlight1 = #3266A8
highlight2 = lighten(highlight1, 20%)
background1 = darken(highlight1, 60%)
background2 = darken(highlight1, 20%)
dark = #2e2e2e
light = #eee
borderColor = #ddd
lightText = #eee
darkText = #333


// breakpoints
midBreakPoint = 950px
smallBreakPoint = 550px

mid = "all and (max-width: " + midBreakPoint + ")"
small = "all and (max-width: " + smallBreakPoint + ")"

fullWidth = 40%
midWidth = 60%
mobileWidth = 100%

*
  box-sizing border-box

body
  background background1
  font-size 12pt
  line-height 12pt

header
  background dark
  color lightText
  width fullWidth
  margin auto

  @media mid
    width midWidth

  @media small
    width mobileWidth

  .title
    margin 0%
    padding 2%
    background highlight2
    font-size 160%
    font-weight normal
    line-height 90%

  .tagline
    margin 0%
    padding 1% 0%
    font-size 60%
    line-height 100%
    font-weight normal

  .info-bar
    padding 1% 2% 2%
    font-size 70%
    background dark

    a
      color darken(lightText, 30%)
      &:hover
        color darken(lightText, 20%)

    div
      display inline-block

    .credits
      float right
.page
  width 40%
  margin auto
  padding 0% 1%
  background background2
  position absolute
  left 0
  right 0

  @media mid
    width midWidth

  @media small
    width mobileWidth


.stream
  background light

  ol.stream-items
    margin 0
    margin-bottom 1%
    padding 0
    list-style-type: none
    
    .stream-item
      background white
      &:hover
        background darken(white, 5%)

    .tweet
      padding 2% 1.5% 5%
      border-bottom 1px solid borderColor

      .content
        margin-left 14%

        .stream-item-header
          padding-bottom 1%

          .account-group
            text-decoration none
            color darkText

            .avatar
              float left
              margin-top 0.5%
              margin-left -15%
              width 13%
              border-radius 10%

            .fullname
              font-weight bold

            .username
              font-size 90%
              font-weight normal
              color lighten(darkText, 30%)

          .time
            // TODO - display this better
            display none

      .tweet-text
        color darkText
        white-space pre-wrap
        word-wrap break-word
        font-size 90%
        line-height 140%
        text-decoration none