* {
  box-sizing: border-box;
}
body {
  background: #142943;
  font-size: 12pt;
  line-height: 12pt;
}
header {
  background: #2e2e2e;
  color: #eee;
  width: 40%;
  margin: auto;
}
@media all and (max-width: 320px) {
  header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
  }
}
@media all and (max-width: 950px) {
  header {
    width: 60%;
  }
}
@media all and (max-width: 320px) {
  header {
    width: 100%;
  }
}
header .title {
  margin: 0%;
  padding: 2%;
  background: #4b83c9;
  font-size: 160%;
  font-weight: normal;
  line-height: 90%;
}
@media all and (max-width: 320px) {
  header .title {
    font-size: 130%;
  }
}
header .tagline {
  margin: 0%;
  padding: 1% 0%;
  font-size: 60%;
  line-height: 100%;
  font-weight: normal;
}
header .info-bar {
  padding: 1% 2% 2%;
  font-size: 70%;
  background: #2e2e2e;
}
header .info-bar a {
  color: #a7a7a7;
}
header .info-bar a:hover {
  color: #bebebe;
}
header .info-bar div {
  display: inline-block;
}
header .info-bar .credits {
  float: right;
}
.page {
  width: 40%;
  margin: auto;
  padding: 0% 1%;
  background: #285286;
  position: absolute;
  left: 0;
  right: 0;
}
@media all and (max-width: 950px) {
  .page {
    width: 60%;
  }
}
@media all and (max-width: 320px) {
  .page {
    width: 100%;
    margin-top: 75px;
  }
}
.stream {
  background: #eee;
}
.stream ol.stream-items {
  margin: 0;
  margin-bottom: 1%;
  padding: 0;
  list-style-type: none;
}
.stream ol.stream-items .stream-item {
  background: #fff;
}
.stream ol.stream-items .stream-item:hover {
  background: #f2f2f2;
}
.stream ol.stream-items .tweet {
  padding: 2% 1.5% 5%;
  border-bottom: 1px solid #ddd;
}
.stream ol.stream-items .tweet .content {
  margin-left: 58px;
}
.stream ol.stream-items .tweet .content .stream-item-header {
  padding-bottom: 1%;
}
.stream ol.stream-items .tweet .content .stream-item-header .account-group {
  text-decoration: none;
  color: #333;
}
.stream ol.stream-items .tweet .content .stream-item-header .account-group .avatar {
  float: left;
  margin-top: 0.5%;
  margin-left: -56px;
  width: 48px;
  border-radius: 10%;
}
.stream ol.stream-items .tweet .content .stream-item-header .account-group .fullname {
  font-weight: bold;
}
.stream ol.stream-items .tweet .content .stream-item-header .account-group .username {
  font-size: 90%;
  font-weight: normal;
  color: #707070;
}
.stream ol.stream-items .tweet .content .stream-item-header .time {
  display: none;
}
.stream ol.stream-items .tweet .tweet-text {
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 90%;
  line-height: 140%;
  text-decoration: none;
}
